body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1{
    font-size: 80px;
}
h2{
    font-size: 25px;
}
section{
    display: flex;
}



.orange-color{
    color: orange;
}

.half-width{ 
    width: 50%;
    padding: 6%;
}
.half-width img {
    width: 80%;
}

.hire_me_button{
    text-decoration: none;
    background-image: linear-gradient(orange, Tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;  
}

.top-banner{
background-image: url(image/images/top-banner.png);
background-repeat:  no-repeat;
}

.middel-banner{
    background-image: url(image/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}




/*----- Class End-----*/


/*----- ID Start-----*/


/*----- ID End-----*/


/*--------- Top Section End ----------*/



