body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}

h3{
    font-size:  25px;
}

p{
    font-size: 16px;
    color: #696969;
}
footer{
    text-align: center;
}

.display-flex{
    display: flex;
}

.orange-color{
    color: orange;
}

.half-width{ 
    width: 40%;
    padding: 6%;
}
.half-width img {
    width: 80%;
}

.hire_me_button{
    text-decoration: none;
    background-image: linear-gradient(orange, Tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;  
}

.top-banner{
    background-image: url(image/images/top-banner.png);
    background-repeat:  no-repeat;
}

.middel-banner{
    background-image: url(image/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiencess-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding-left: 40px;
    padding-right: 3px;
}

.expriencess-area{
    background-image: url(image/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 270px;
}
