body{
    font-family: 'Poppins', sans-serif;

}



/*--------- Top Section Start ----------*/
h1{
    font-size: 50px;
}



/*----- Class Start-----*/
.orange-color{
    color: orange;
}

/*----- Class End-----*/


/*----- ID Start-----*/


/*----- ID End-----*/


/*--------- Top Section End ----------*/





